@page "/action-button-examples"

@using Clf.Blazor.Basic.Components.Controls.Enums;
@using Clf.Blazor.Basic.Components.Controls.Models;
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Common.ImageProcessing;

<h3>Action Button Examples</h3>

<table>
	<tr>
		<th scope="row">Default</th>
		<td><ActionButton /></td>
	</tr>
	<tr>
		<th scope="row">Disabled</th>
		<td><ActionButton /></td>
	</tr>
	<tr>
		<th scope="row">Not Connected</th>
		<td><ActionButton /></td>
	</tr>
	<tr>
		<th scope="row">Minor Alarm</th>
		<td><ActionButton /></td>
	</tr>
	<tr>
		<th scope="row">Major Alarm</th>
		<td><ActionButton /></td>
	</tr>
	<tr>
		<th scope="row">Invalid</th>
		<td><ActionButton /></td>
	</tr>
	<tr>
		<th scope="row">Basic</th>
		<td><button>Basic HTML Button</button></td>
	</tr>


</table>

@code {

}