@page "/boolean-button-examples"
@using Clf.Blazor.Basic.Components.Controls.Enums;
@using Clf.Blazor.Basic.Components.Controls.Models;
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Common.ImageProcessing;

<h3>Boolean Button Examples</h3>

<table>
  <tr>
    <th scope="row">Default</th>
    <td><BooleanButton /></td>
    <td><BooleanButton  /></td>
  </tr>
  <tr>
    <th scope="row">Custom Icons</th>
    <td>
      <BooleanButton >
        <ButtonOn>
          <SingleColourIcon class="led-icon" IconId="clf_ic_dismiss_24_regular" />
        </ButtonOn>
        <ButtonOff>
          <SingleColourIcon class="led-icon" IconId="clf_ic_exclamation_24_regular" />
        </ButtonOff>
      </BooleanButton>
    </td>
    <td>
      <BooleanButton >
        <ButtonOn>
          <SingleColourIcon class="led-icon" IconId="clf_ic_dismiss_24_regular" />
        </ButtonOn>
        <ButtonOff>
          <SingleColourIcon class="led-icon" IconId="clf_ic_exclamation_24_regular" />
        </ButtonOff>
      </BooleanButton>
    </td>
  </tr>
  <tr>
    <th scope="row">Not Connected</th>
    <td><BooleanButton  /></td>
    <td><BooleanButton  /></td>
  </tr>
  <tr>
    <th scope="row">Major Alarm</th>
    <td><BooleanButton  /></td>
    <td><BooleanButton  /></td>
  </tr>
  <tr>
    <th scope="row">Minor Alarm</th>
    <td><BooleanButton  /></td>
    <td><BooleanButton  /></td>
  </tr>
  <tr>
    <th scope="row">Invalid</th>
    <td><BooleanButton  /></td>
    <td><BooleanButton /></td>
  </tr>

</table>

@code {

}