@page "/check-box-examples"
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Blazor.Basic.Components.Controls.Models

<h3>Checkbox Examples</h3>

<table>
  <tr>
    <th scope="row">Default</th>
    <td><div><Checkbox /></div></td>
  </tr>
  <tr>
    <th scope="row">Checked</th>
    <td><div><Checkbox /></div></td>
  </tr>
  <tr>
    <th scope="row">Disable</th>
    <td><div><Checkbox /></div></td>
  </tr>
  <tr>
    <th scope="row">Disable Checked</th>
    <td><div><Checkbox /></div></td>
  </tr>
  <tr>
    <th scope="row">Not Connected</th>
    <td><div><Checkbox /></div></td>
  </tr>
  <tr>
    <th scope="row">Invalid</th>
    <td><div><Checkbox /></div></td>
  </tr>
  <tr>
    <th scope="row">HTML Checkbox</th>
    <td><div><input type="checkbox" checked /></div></td>
  </tr>
</table>

@code {
 
}
