@page "/choice-button-examples"
@using Clf.Blazor.Basic.Components.Controls.Enums;
@using Clf.Blazor.Basic.Components.Controls.Models;
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Helpers
@using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Common.ImageProcessing;
@using System.Collections.ObjectModel;

<h3>Choice Button Examples</h3>

<table>
	<tr>
		<th scope="col"></th>
		<th scope="col">Horizontal</th>
		<th scope="col">Vertical</th>
	</tr>
	<tr>
		<th scope="row">Default</th>
		<td><ChoiceButton /></td>
		<td><ChoiceButton /></td>
	</tr>
	<tr>
		<th scope="row">Not Connected</th>
		<td><ChoiceButton /></td>
		<td><ChoiceButton /></td>
	</tr>
	<tr>
		<th scope="row">Minor Alarm</th>
		<td><ChoiceButton /></td>
		<td><ChoiceButton /></td>
	</tr>
	<tr>
		<th scope="row">Major Alarm</th>
		<td><ChoiceButton /></td>
		<td><ChoiceButton /></td>
	</tr>
	<tr>
		<th scope="row">Invalid</th>
		<td><ChoiceButton /></td>
		<td><ChoiceButton /></td>
	</tr>

</table>
<div style="height:100px"></div>


@code {

	private static ObservableCollection<string> items = new ObservableCollection<string> {
	  "Option 1",
	  "Option 2",
	  "Option 3"
  };
}