@page "/color-picker-examples"
@using Clf.Blazor.Basic.Components.Controls.Models;
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates;


<h3>Color Picker Examples</h3>

<table>
	<tr>
		<th scope="row">Default</th>
		<td><ColorPicker /></td>
	</tr>
	<tr>
		<th scope="row">Disabled</th>
		<td><ColorPicker /></td>
	</tr>
	<tr>
		<th scope="row">Not Connected</th>
		<td><ColorPicker /></td>
	</tr>
	<tr>
		<th scope="row">Minor Alarm</th>
		<td><ColorPicker /></td>
	</tr>
	<tr>
		<th scope="row">Major Alarm</th>
		<td><ColorPicker /></td>
	</tr>
	<tr>
		<th scope="row">Invalid</th>
		<td><ColorPicker /></td>
	</tr>
</table>

@code {

}
