@page "/navigation-button-examples"

@using Clf.Blazor.Basic.Components.Controls.Enums;
@using Clf.Blazor.Basic.Components.Controls.Models;
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Common.ImageProcessing;

<h3>Navigation Button Examples</h3>

<table>
  <tr>
    <th scope="row">Default</th>
    <td><ActionButton /></td>
  </tr>
  <tr>
    <th scope="row">Disabled</th>
    <td><ActionButton /></td>
  </tr>
  <tr>
    <th scope="row">Not Connected</th>
    <td><ActionButton /></td>
  </tr>
  <tr>
    <th scope="row">Minor Alarm</th>
    <td><ActionButton /></td>
  </tr>
  <tr>
    <th scope="row">Major Alarm</th>
    <td><ActionButton /></td>
  </tr>
  <tr>
    <th scope="row">Invalid</th>
    <td><ActionButton /></td>
  </tr>
</table>

@code {

  private static string IconID = "clf_ic_settings_24_regular";
  private static string ButtonText = "Settings";

}