@page "/process-pv-button-examples"

@using Clf.Blazor.Basic.Components.Controls.Enums;
@using Clf.Blazor.Basic.Components.Controls.Models;
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Common.ImageProcessing;

<h3>Process PV Button Examples</h3>

<table>
  <tr>
    <th scope="col">Process PV Button Types</th>
  </tr>

  <tr>
    <th scope="row">Default</th>
    <td><ProcessPVButton /></td>
  </tr>
  <tr>
    <th scope="row">Disabled</th>
    <td><ProcessPVButton /></td>
  </tr>
  <tr>
    <th scope="row">Not Connected</th>
    <td><ProcessPVButton /></td>
  </tr>
  <tr>
    <th scope="row">Minor Alarm</th>
    <td><ProcessPVButton /></td>
  </tr>
  <tr>
    <th scope="row">Major Alarm</th>
    <td><ProcessPVButton /></td>
  </tr>
  <tr>
    <th scope="row">Invalid</th>
    <td><ProcessPVButton /></td>
  </tr>

</table>

@code {

  private const string text = "Status";

}