@page "/radio-button-examples"
@using Clf.Blazor.Basic.Components.Controls.Models;
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using System.Collections.ObjectModel;

<h3>Radio Button Examples</h3>

<table>
  <tr>
    <th scope="row">Default</th>
    <td><div><RadioButton/></div></td>
  </tr>
  <tr>
    <th scope="row">Checked</th>
    <td><div><RadioButton/></div></td>
  </tr>
  <tr>
    <th scope="row">Disable</th>
    <td><div><RadioButton /></div></td>
  </tr>
  <tr>
    <th scope="row">Disable Checked</th>
    <td><div><RadioButton /></div></td>
  </tr>
  <tr>
    <th scope="row">Not Connected</th>
    <td><div><RadioButton /></div></td>
  </tr>
  <tr>
    <th scope="row">Invalid</th>
    <td><div><RadioButton /></div></td>
  </tr>
  <tr>
    <th scope="row">Radio Button Group (Vertical)</th>
    <td><div><RadioButton /></div></td>
  </tr>
  <tr>
    <th scope="row">Radio Button Group (Horizontal)</th>
    <td><div><RadioButton GroupClass="radio-button-horizontal" /></div></td>
  </tr>
  <tr>
    <th scope="row">HTML Radio Button</th>
    <td><div><input type="radio" checked /></div></td>
  </tr>
</table>

@code {
  
}
