@page "/slider-examples"
@using Clf.Blazor.Basic.Components.Controls.Models;
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@


<h3>Slider Examples</h3>


<table>
	<tr>
		<th scope="col"></th>
		<th scope="col">Default</th>
		<th scope="col">Tick Marks</th>
		<th scope="col">With Spinner</th>
		<th scope="col">Both</th>
	</tr>
	<tr>
		<th scope="row">Default</th>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
	</tr>
	<tr>
		<th scope="row">Without Value</th>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
	</tr>
	<tr>
		<th scope="row">Disable</th>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
	</tr>
	<tr>
		<th scope="row">Not Connected</th>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
	</tr>
	<tr>
		<th scope="row">Major Alarm</th>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
	</tr>
	<tr>
		<th scope="row">Minor Alarm</th>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
	</tr>
	<tr>
		<th scope="row">Invalid</th>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
		<td><Slider /></td>
	</tr>
</table>
<br />



@code {


}
