@page "/Slide-button-examples"
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Clf.Blazor.Basic.Components.Controls.Models
@using Clf.Blazor.Basic.Components.Controls.Enums

<h3>Toggle Button Examples</h3>

<table>
	<tr>
		<th></th>
		<th scope="col">Without Label</th>
		<th scope="col">With Label</th>

	</tr>
	<tr>
		<th>Off</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>
	<tr>
		<th>On</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>
	<tr>
		<th>Disabled Off</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>
	<tr>
		<th>Disabled On</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>
	<tr>
		<th>Not connected</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>
	<tr>
		<th>Minor Alarm</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>
	<tr>
		<th>Major Alarm</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>
	<tr>
		<th>Invalid</th>
		<td><SlideButton /></td>
		<td><SlideButton /></td>
	</tr>

</table>

@code {

}
