@page "/spinner-examples"
@using Clf.Blazor.Basic.Components.Controls.Models
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@

<h3>Spinner Examples</h3>

<table>
	<tr>
		<th scope="row">Default</th>
		<td><div><Spinner /></div></td>
	</tr>
	<tr>
		<th scope="row">Without Units</th>
		<td><div><Spinner /></div></td>
	</tr>
	<tr>
		<th scope="row">Disable</th>
		<td><div><Spinner /></div></td>
	</tr>
	<tr>
		<th scope="row">Not Connected</th>
		<td><div><Spinner /></div></td>
	</tr>
	<tr>
		<th scope="row">Major Alarm</th>
		<td><div><Spinner /></div></td>
	</tr>
	<tr>
		<th scope="row">Minor Alarm</th>
		<td><div><Spinner /></div></td>
	</tr>
	<tr>
		<th scope="row">Invalid</th>
		<td><div><Spinner /></div></td>
	</tr>
</table>

@code {


}
