@page "/text-entry-examples"
@using Clf.Blazor.Basic.Components.Controls.Models;
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@* @using Clf.Blazor.Basic.Components.Controls.Widgets.Monitors *@

<h3>Text Entry Examples</h3>

<table>
	<tr>
		<th></th>
		<th>Text Entry (Single Line)</th>
		<th>Text Entry (Multi Line)</th>
	</tr>
	<tr>
		<th scope="row">Default</th>
		<td><div><TextEntry PVName="X" /></div></td>
		<td><div><TextEntry PVName="A" /></div></td>
	</tr>
	<tr>
		<th scope="row">Without Units</th>
		<td><div><TextEntry /></div></td>
		<td><div><TextEntry /></div></td>
	</tr>
	<tr>
		<th scope="row">Disable</th>
		<td><div><TextEntry /></div></td>
		<td><div><TextEntry /></div></td>
	</tr>
	<tr>
		<th scope="row">Not Connected</th>
		<td><div><TextEntry /></div></td>
		<td><div><TextEntry /></div></td>
	</tr>
	<tr>
		<th scope="row">Major Alarm</th>
		<td><div><TextEntry /></div></td>
		<td><div><TextEntry /></div></td>
	</tr>
	<tr>
		<th scope="row">Minor Alarm</th>
		<td><div><TextEntry /></div></td>
		<td><div><TextEntry /></div></td>
	</tr>
	<tr>
		<th scope="row">Invalid</th>
		<td><div><TextEntry /></div></td>
		<td><div><TextEntry /></div></td>
	</tr>
	<tr>
		<th scope="row">HTML Input</th>
		<td><div><input type="text" value="Lorem Ipsum" /></div></td>
		<td><div><textarea>Lorem Ipsum</textarea></div></td>
	</tr>

</table>
<br />


@code {

}
