@using Clf.Blazor.Basic.Components.Controls.Models
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates
@using Microsoft.AspNetCore.Components.Web
@inherits WidgetBase
@implements IDisposable

@if (IsVisible)
{
	<div class="group-box-wrapper"
		 disabled="@IsDisabled">
		<div class="group-box-header">
			<h4 class="group-box-title">@Title</h4>
		</div>
		<div class="group-box-content">@ChildContent</div>
	</div>
}

@code
{
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public bool IsDisabled { get; set; }

	[Parameter]
	public string Title { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	void IDisposable.Dispose()
	{
	}
}
