.popup-wrapper {
  position: absolute;
  background-color: var(--clf-background-colour);
  z-index: 1001;
  box-shadow: var(--clf-dashboard-pane-unpinned-box-shadow);
  height: fit-content;
  width: fit-content;
  display: inline-block;
  flex-direction: column;
  border-radius: var(--clf-dashboard-pane-border-radius);
  overflow: auto;
  padding: var(--clf-dashboard-body-padding);
  border: var(--clf-dashboard-pane-border-width) solid var(--clf-dashboard-header-border-colour);
  --popup-margin: 2px;
  color: var(--clf-font-colour);
  font-family: var(--clf-font-family);
  font-style: var(--clf-font-style);
  font-weight: var(--clf-medium-font-weight);
  font-size: var(--clf-default-font-size);
  overflow: hidden;
}

.popup-bottom-right {
  bottom: 0;
  right: 0;
}

.popup-top-right {
  top: 0;
  right: 0;
}

.popup-bottom-left {
  bottom: 0;
  left: 0;
}

.popup-top-left {
  top: 0;
  left: 0;
}

.popup-left-to-right {
  --popup-margin-x: var(--popup-margin);
}

.popup-right-to-left {
  --popup-margin-x: calc(var(--popup-margin) * -1);
}

.popup-top-to-bottom {
  --popup-margin-y: var(--popup-margin);
}

.popup-bottom-to-top {
  --popup-margin-y: calc(var(--popup-margin) * -1);
}

.popup-transform {
  transform-origin: top left;
  transform: translate(calc(var(--popup-translate-x) + var(--popup-margin-x)),calc(var(--popup-translate-y) + var(--popup-margin-y))) scale(var(--popup-scale));
}


