@using Microsoft.AspNetCore.Components.Web
@using Clf.Blazor.Basic.Components.Controls.Widgets.Updates


@if (IsVisible && NoOfTries > 0)
{
	<div class="timeout-info-grid" style="color:#d30303; font: @($"{HtmlFontString}"); text-align:center;">
		&#128712; @Message@NoOfTries
		<button @onclick="@(()=>{})">OK</button>
	</div>
}



@code {

	[Parameter]
	public string Message { get; set; } = "Timeout: ";

	[Parameter]
	public int NoOfTries { get; set; } = 0;

	[Parameter]
	public bool IsVisible { get; set; } = false;

	[Parameter]
	public string HtmlFontString { get; set; } = "bold 16px Arial";

	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
}
